<html>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<body>
<h1><a class="autolink" title="MPI" href="http://upel.agh.edu.pl/wiet/mod/url/view.php?id=433">MPI</a>: komunikacja "Punkt-Punkt"</h1>
<h2>Cel ćwiczenia</h2>
<p>Celem ćwiczenia jest zmierzenie opóźnienia i przepustowości połączeń w klastrze</p>
<h2>Opis ćwiczenia</h2>
<p>Celem zadania jest zmierzenie opóźnienia i przepustowości połączeń w klastrze. Podstawowymi parametrami połączeń w sieci są opóźnienie (<em>latency</em>) i przepustowość (<em>bandwidth</em>). Opóźnienie transmisji generowane jest przez wszystkie warstwy systemu począwszy od sprzętowej (np. liczba przełączników i bram, przez które przechodzą pakiety), poprzez protokoły wszystkich warstw, aż po warstwę aplikacji (np. narzut inicjalizacji komunikacji <a class="autolink" title="MPI" href="http://upel.agh.edu.pl/wiet/mod/url/view.php?id=433">MPI</a>). W <a class="autolink" title="MPI" href="http://upel.agh.edu.pl/wiet/mod/url/view.php?id=433">MPI</a> występują różne tryby komunikacji. Należy się więc spodziewać, że dla każdego z tych trybów pomiary opóźnień będą dawać różne wyniki.</p>
<h2>Plan ćwiczenia</h2>
<ul>
<li>Należy przetestować dwa różne typy komunikacji P2P w <a class="autolink" title="MPI" href="http://upel.agh.edu.pl/wiet/mod/url/view.php?id=433">MPI</a>.</li>
<li>Należy dokonać pomiarów i narysować wykresy:
<ul>
<li>przepustowości [Mbit/s] od długości komunikatów [B],</li>
<li>opóźnienia [ms] od długości komunikatów [B].</li>
</ul>
</li>
<li>Zespoły 4 osobowe:
<ul>
<li>3 osoby implementują testy w C/C++/Python,</li>
<li>testy powinny być przeprowadzone tą samą metodą (liczba iteracji, zakres rozmiaru danych itp.),</li>
<li>czwarta osoba uruchamia kody pozostałych osób i przeprowadza testy na klastrze Zeus.</li>
</ul>
</li>
<li><strong>Uwaga!</strong>&nbsp;W C++/Boost dostępna jest tylko komunikacja standardowa i tylko taką można w tam przetestować.
<ul>
<li>Testy dla komunikacji standardowej.</li>
<li>Przetestować wbudowane w bibliotekę boost mechanizmy automatycznej serializacji standardowych struktur z STL (vector, map, string, etc.) - ocenić overhead serializacji dla typu&nbsp;<code class="remark-code">vector</code>.</li>
</ul>
</li>
</ul>
<p><span style="font-size: 1.5em; font-weight: bold; line-height: 1.231;">Literatura</span></p>
<ol>
<li>Message Passing Interface Forum.<em> <a class="autolink" title="MPI" href="http://upel.agh.edu.pl/wiet/mod/url/view.php?id=433">MPI</a>: A Message-Passing Interface Standard <a href="http://www.mpi-forum.org/docs/mpi-11-html/mpi-report.html">http://www.mpi-forum.org/docs/mpi-11-html/mpi-report.html</a></em></li>
<li>Neil MacDonald, Elspeth Minty, Tim Harding, Simon Brown.<br><em>Writing Message-Passing Parallel Programs with <a class="autolink" title="MPI" href="http://upel.agh.edu.pl/wiet/mod/url/view.php?id=433">MPI</a></em>. Edinburgh Parallel Computing Centre. <a href="http://www2.epcc.ed.ac.uk/computing/training/document_archive/mpi-course/mpi-course.book_1.html">http://www2.epcc.ed.ac.uk/computing/training/document_archive/mpi-course/mpi-course.book_1.html</a></li>
<li>The Message Passing Interface (<a class="autolink" title="MPI" href="http://upel.agh.edu.pl/wiet/mod/url/view.php?id=433">MPI</a>) Workshop <a href="http://static.msi.umn.edu/tutorial/scicomp/general/">http://static.msi.umn.edu/tutorial/scicomp/general/</a></li>
<!--<%10-%-17%><span class="fnt0">Texas Advanced Computing Center.<em> <a class="autolink" title="MPI" href="http://upel.agh.edu.pl/wiet/mod/url/view.php?id=433">MPI</a> for C programmers <a href="http://www.tacc.utexas.edu/services/userguides/mpi/">http://www.tacc.utexas.edu/services/userguides/mpi/</a></em></span></li>-->
<li><a href="http://mpi.deino.net/mpi_functions/">Dokumentacja systemu UNIX</a>.</li>
</body>
</html>
